@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  background: #fff;
}

.container {
  padding-top: 30px;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.form {
  border: 2px solid gray;
  width: 450px;
  height: auto;
  padding: 0;
}

.tab {
  font-size: 15px;
  line-height: 32px;
  color: grey;
  transition: 250ms ease;
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 2px solid black;
}

.active-tab {
  font-weight: 900;
  background-color: skyblue;
  color: #fff;
  padding: 0 1rem;
  width: 20%;
  text-align: center;
}

.inactive-tab {
  font-weight: 300;
  background-color: initial;
  padding: 0 1rem;
  text-align: center;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c8c6c6;
  font-size: 14px;
  padding: 0 10px;
}

.error {
  color: red;
  font-weight: 600;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.input-box {
  margin: 20px 0;
}

.checkbox {
  width: auto;
}

.success {
  text-align: center;
  margin: 2rem;
}

.success p {
  color: green;
}

.right{
  text-align: right;
}

button {
  border: 2px solid green;
  height: 48px;
  border-radius: 5px;
  background: green;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}


.user-form{
  padding: 0rem 2rem 2rem 1rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.flex2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 768px) {
 .form{
   min-width: 300px;
   width: 100%;
 }
 .container{
   padding-top: 100px;
 }
}